<ion-header>
  <ion-toolbar>
 <ion-buttons slot="start">
 <ion-back-button></ion-back-button>
 </ion-buttons>
 </ion-toolbar>
 </ion-header>
<ion-content class="ion-padding">
  <h1>Spain</h1>
<h3>Description</h3>
<p>Splendid beaches, great cuisine, exciting nightlife and colorful fiestas all make Spain one of Europe's top destinations. Because Spain contains multiple autonomous regions and islands, the country boasts one of the most vastly different cultures and landscapes on the continent.</p>
</ion-content>
<ion-button class="button" routerLink="/create" >Book Now</ion-button>

