<ion-header>
    <ion-toolbar>
   <ion-buttons slot="start">
   <ion-back-button></ion-back-button>
   </ion-buttons>
   </ion-toolbar>
   </ion-header>
<ion-content class="ion-padding">
  <h1>California</h1>
<h3>Description</h3>
<p>​a US state on the Pacific Ocean, also called the Golden State. California has the largest population of all the states. Its largest city is Los Angeles and the capital is Sacramento. It is known for Hollywood, Disneyland, Silicon Valley and for its agricultural and wine products.</p>
</ion-content>
<ion-button class="button" routerLink="/create" >Book Now</ion-button>

