<ion-header>
  <ion-toolbar>
 <ion-buttons slot="start">
 <ion-back-button></ion-back-button>
 </ion-buttons>
 </ion-toolbar>
 </ion-header>
<ion-content class="ion-padding">
  <h1>Italy</h1>
<h3>Description</h3>
<p>Italy is a boot-shaped peninsula that protrudes into the Adriatic, Tyrrhenian, Mediterranean, and other seas from southern Europe. Its history has been significantly influenced by its position. Italy is bordered by the sea, while its interior is divided into regions by mountains.</p>
</ion-content>
<ion-button class="button" routerLink="/create" >Book Now</ion-button>

