<ion-header>
  <ion-toolbar>
 <ion-buttons slot="start">
 <ion-back-button></ion-back-button>
 </ion-buttons>
 </ion-toolbar>
 </ion-header>
<ion-content class="ion-padding">
  <h1>Paris</h1>
<h3>Description</h3>
<p>Paris, the city of Lights, the fashion capital, the city of Love. All these nicknames are far from enough to reveal all of Paris. Paris is one of the most beautiful cities in the world. It is known globally for the Louvre Museum, Notre-Dame cathedral, and the Eiffel tower.</p>
</ion-content>
<ion-button class="button" routerLink="/create" >Book Now</ion-button>

