<ion-header>
  <ion-toolbar>
 <ion-buttons slot="start">
 <ion-back-button></ion-back-button>
 </ion-buttons>
 </ion-toolbar>
 </ion-header>
<ion-content class="ion-padding">
  <h1>London</h1>
<h3>Description</h3>
<p>The capital of the United Kingdom is London. It is the largest city in the United Kingdom and the hub of its economy, transportation, and culture. London is one of the oldest cities in the world, with a roughly two-millennia-old history.</p>
</ion-content>
<ion-button class="button" routerLink="/create" >Book Now</ion-button>

