 ion-content.ion-padding{
    --background: url(../../assets/newyork1.jpg) 0 0/100% 100% no-repeat;
    width: auto;
    height: auto;
  }
h1 {
    color:black;
}

#button{
    position: relative;
    width:200px;
    margin:auto;
    margin-top:50%;
    display: inline-block;
  }