<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Choose Airlines</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    

    <ion-card>
      <ion-card-header>
       </ion-card-header>
      
      <ion-grid>
       <ion-row class="ion-justify-content-center">
       <ion-col size="13"><ion-card>
       <img class="displayed"  height="70 px" width="110 px"  src="assets/cathay.png" />
       <ion-card-subtitle>Cathay Pacific Airlines</ion-card-subtitle>
       <ion-button type="submit" color="danger" expand="block" routerLink="/book">$ 125</ion-button>
       <ion-card-header>
        
       <ion-card-subtitle>3:15am-6:25pm</ion-card-subtitle>
       <ion-card-subtitle>Business / 10 Seats</ion-card-subtitle>
       <ion-card-subtitle>23h 10m</ion-card-subtitle>
      
       </ion-card-header>
       
       </ion-card></ion-col>
      <ion-col size="13"><ion-card>
       <img  class="displayed"  height="70 px" width="110 px" src="assets/cf.png"/>
       <ion-card-subtitle>Cheap Flights Airlines</ion-card-subtitle>
       <ion-button type="submit" color="danger" expand="block" routerLink="/book">$ 110</ion-button>
       <ion-card-header>
        <ion-card-subtitle>2:00am-3:55pm</ion-card-subtitle>
        <ion-card-subtitle>Economy / 10 Seats</ion-card-subtitle>
        <ion-card-subtitle>22h 35m</ion-card-subtitle>
      
      </ion-card-header>
    
       </ion-card></ion-col>
      </ion-row>
       </ion-grid>
       
       <ion-grid>
        <ion-row class="ion-justify-content-center">
        <ion-col size="13"><ion-card>
        <img  class="displayed"  height="70 px" width="110 px"   src="assets/jal.png" />
        <ion-card-subtitle>Japan Airlines</ion-card-subtitle>
        <ion-button type="submit" color="danger" expand="block" routerLink="/book">$ 120</ion-button>
        <ion-card-header>
          <ion-card-subtitle>4:00am-5:25pm</ion-card-subtitle>
          <ion-card-subtitle>Economy / 10 Seats</ion-card-subtitle>
          <ion-card-subtitle>22h 35m</ion-card-subtitle>
       
        </ion-card-header>
        
      
        </ion-card></ion-col>
       <ion-col size="13"><ion-card>
        <img  class="displayed"  height="70 px" width="110 px"  src="assets/sky.png"/>
        <ion-card-subtitle>Skyscanner Airlines</ion-card-subtitle>
        <ion-button type="submit" color="danger" expand="block" routerLink="/book">$ 127</ion-button>
        <ion-card-header>
          <ion-card-subtitle>6:15am-8:25pm</ion-card-subtitle>
          <ion-card-subtitle>Business / 10 Seats</ion-card-subtitle>
          <ion-card-subtitle>23h 10m</ion-card-subtitle>
       
       
       
       </ion-card-header>
      
      
        </ion-card></ion-col>
       </ion-row>
        </ion-grid>

        <ion-card>
          <ion-card-header>
           </ion-card-header>
          
          <ion-grid>
           <ion-row class="ion-justify-content-center">
           <ion-col size="13"><ion-card>
           <img class="displayed"  height="70 px" width="110 px"  src="assets/jeju.jpg" />
           <ion-card-subtitle>JEJU Airlines</ion-card-subtitle>
           <ion-button type="submit" color="danger" expand="block" routerLink="/book">$ 325</ion-button>
           <ion-card-header>
            
           <ion-card-subtitle>2:15am-5:25pm</ion-card-subtitle>
           <ion-card-subtitle>Business / 10 Seats</ion-card-subtitle>
           <ion-card-subtitle>23h 10m</ion-card-subtitle>
          
           </ion-card-header>
           
           </ion-card></ion-col>
          <ion-col size="13"><ion-card>
           <img  class="displayed"  height="70 px" width="110 px" src="assets/pinoy.jpg"/>
           <ion-card-subtitle>Philippines Airlines</ion-card-subtitle>
           <ion-button type="submit" color="danger" expand="block" routerLink="/book">$ 310</ion-button>
           <ion-card-header>
            <ion-card-subtitle>1:00am-2:255pm</ion-card-subtitle>
            <ion-card-subtitle>Economy / 10 Seats</ion-card-subtitle>
            <ion-card-subtitle>22h 35m</ion-card-subtitle>
          
          </ion-card-header>
        
           </ion-card></ion-col>
          </ion-row>
           </ion-grid>

           <ion-card>
            <ion-card-header>
             </ion-card-header>
            
            <ion-grid>
             <ion-row class="ion-justify-content-center">
             <ion-col size="13"><ion-card>
             <img class="displayed"  height="70 px" width="110 px"  src="assets/sing.jpg" />
             <ion-card-subtitle>Singapore Airlines</ion-card-subtitle>
             <ion-button type="submit" color="danger" expand="block" routerLink="/book">$ 225</ion-button>
             <ion-card-header>
              
             <ion-card-subtitle>5:15am-7:25pm</ion-card-subtitle>
             <ion-card-subtitle>Business / 10 Seats</ion-card-subtitle>
             <ion-card-subtitle>23h 10m</ion-card-subtitle>
            
             </ion-card-header>
             
             </ion-card></ion-col>
            <ion-col size="13"><ion-card>
             <img  class="displayed"  height="70 px" width="110 px" src="assets/cebu.png"/>
             <ion-card-subtitle>Cebu Pacific Airlines</ion-card-subtitle>
             <ion-button type="submit" color="danger" expand="block" routerLink="/book">$ 110</ion-button>
             <ion-card-header>
              <ion-card-subtitle>12:00am-1:255pm</ion-card-subtitle>
              <ion-card-subtitle>Economy / 10 Seats</ion-card-subtitle>
              <ion-card-subtitle>22h 35m</ion-card-subtitle>
            
            </ion-card-header>
          
             </ion-card></ion-col>
            </ion-row>
             </ion-grid>
     