.btn1 {
    --background: #f64f85;
    --background-hover: #e756e0;
    --background-activated: #ed74a4;
    --background-focused: #88f4be;
  
    --color: rgb(255, 255, 255);
  
    --border-radius: 20px;
    --border-style: solid;
    --border-width: 1px;
  
    --ripple-color: deeppink;
  
    --padding-top: 10px;
    --padding-bottom: 10px;
  }
   
  .btn2{
    --color:#f54f84;
   }
  
  .ion-padding {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  #container a {
    text-decoration: none;
  }