<ion-header>
  <ion-toolbar>
 <ion-buttons slot="start">
 <ion-back-button></ion-back-button>
 </ion-buttons>
 </ion-toolbar>
 </ion-header>

 <ion-card>
  <ion-card-header>
    <ion-card-title>Flight Ticket</ion-card-title>
   </ion-card-header>
  
  <ion-grid>
   <ion-row class="ion-justify-content-center">
   <ion-col size="6"><ion-card>
   
   <ion-card-header>
   <ion-card-subtitle>Airlines</ion-card-subtitle>
  

   </ion-card-header>
   
 
   </ion-card></ion-col>
  <ion-col size="6"><ion-card>
  
   <ion-card-header>
   <ion-card-subtitle>Code</ion-card-subtitle>
  
  </ion-card-header>
 
   </ion-card></ion-col>
  </ion-row>
   </ion-grid>

   <ion-grid>
    <ion-row class="ion-justify-content-center">
    <ion-col size="6"><ion-card>
    
    <ion-card-header>
    <ion-card-subtitle>Passenger</ion-card-subtitle>
   
 
    </ion-card-header>
    
  
    </ion-card></ion-col>
   <ion-col size="6"><ion-card>
   
    <ion-card-header>
    <ion-card-subtitle>Date</ion-card-subtitle>
   
   </ion-card-header>
  
    </ion-card></ion-col>
   </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="ion-justify-content-center">
      <ion-col size="6"><ion-card>
      
      <ion-card-header>
      <ion-card-subtitle>Flight Type</ion-card-subtitle>
     
   
      </ion-card-header>
      
    
      </ion-card></ion-col>
     <ion-col size="6"><ion-card>
     
      <ion-card-header>
      <ion-card-subtitle>Flight</ion-card-subtitle>
     
     </ion-card-header>
    
      </ion-card></ion-col>
     </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row class="ion-justify-content-center">
        <ion-col size="6"><ion-card>
        
        <ion-card-header>
        <ion-card-subtitle>Seats</ion-card-subtitle>
       
     
        </ion-card-header>
        
      
        </ion-card></ion-col>
       <ion-col size="6"><ion-card>
       
        <ion-card-header>
        <ion-card-subtitle>Gate</ion-card-subtitle>
       
       </ion-card-header>
      
        </ion-card></ion-col>
       </ion-row>
        </ion-grid>