<ion-header>
  <ion-toolbar>
 <ion-buttons slot="start">
 <ion-back-button></ion-back-button>
 </ion-buttons>
 </ion-toolbar>
 </ion-header>
<ion-content class="ion-padding">
  <h1>Japan</h1>
<h3>Description</h3>
<p>Japan is one of the oldest civilizations and has a lovely and diversified history. The gorgeous, diverse terrain with mountains and breathtaking views, which are widely valued by the Japanese, offers so many various experiences that attract travelers from all parts of the world.
</p>
</ion-content>
<ion-button class="button" routerLink="/create" >Book Now</ion-button>

