<ion-header>
  <ion-toolbar>
 <ion-buttons slot="start">
 <ion-back-button></ion-back-button>
 </ion-buttons>
 </ion-toolbar>
 </ion-header>
<ion-content class="ion-padding">
  <h1>Hong Kong</h1>
<h3>Description</h3>
<p>The People's Republic of China's special administrative area (SAR) includes Hong Kong. There are 200 of them in Eastern Asia, between China and the South China Sea. The majority of Hong Kong's geography is mountainous or hilly with steep slopes.</p>
</ion-content>
<ion-button class="button" routerLink="/create" >Book Now</ion-button>


