<ion-header>
  <ion-toolbar>
 <ion-buttons slot="start">
 <ion-back-button></ion-back-button>
 </ion-buttons>
 </ion-toolbar>
 </ion-header>
<ion-content class="ion-padding">
  <h1>Washington D.C</h1>
<h3>Description</h3>
<p>Washington, D.C., as it is known today, is a 68-square-mile federal area that houses significant government structures, including the U.S. The White House, where the president resides and works, the Capitol, where the Senate and the House of Representatives convene, and the Supreme Court Building, where a number of significant court decisions are rendered.</p>
</ion-content>
<ion-button class="button" routerLink="/create" >Book Now</ion-button>

