<ion-header>
  <ion-toolbar>
 <ion-buttons slot="start">
 <ion-back-button></ion-back-button>
 </ion-buttons>
 </ion-toolbar>
 </ion-header>
<ion-content class="ion-padding">
  <h1>Australia</h1>
<h3>Description</h3>
<p>Australia has one of the world's best performing economies, a highly trained labor force, and is a stable, democratic country with a diversified population. Australia is a place unlike any other, with stunning natural beauty and a vibrant old culture.</p>
</ion-content>
<ion-button class="button" routerLink="/create" >Book Now</ion-button>

